.hero {
  position: relative;

  min-height: calc(100vh - 80px);

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.70),
    rgba(0, 0, 0, 0.45)
  );
}

.hero-content {
  position: relative;
  z-index: 2;

  max-width: 900px;

  color: white;

  padding: 20px;

  animation: fadeUp 1s ease;
}

.hero-tag {
  display: inline-block;

  padding: 10px 22px;

  border-radius: 50px;

  background: rgba(255,255,255,0.15);

  border: 1px solid rgba(255,255,255,0.25);

  backdrop-filter: blur(10px);

  margin-bottom: 25px;

  font-size: 0.95rem;

  letter-spacing: 1px;
}

.hero-content h1 {
  font-size: clamp(3rem, 7vw, 6rem);

  line-height: 1.1;

  margin-bottom: 20px;

  text-shadow: 0 5px 25px rgba(0,0,0,0.4);
}

.hero-content p {
  max-width: 750px;

  margin: auto;

  font-size: 1.25rem;

  line-height: 1.8;

  margin-bottom: 40px;

  color: rgba(255,255,255,0.95);
}

.hero-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.primary-btn,
.secondary-btn{
    width: 180px;
    height: 55px;
    font-size: 1rem;
    border-radius: 12px;
}
.primary-btn {
  border: none;

  background: #0f766e;
  margin-right: 20px;

  color: white;

  padding: 16px 34px;

  border-radius: 12px;

  font-size: 1rem;

  font-weight: 600;

  cursor: pointer;

  transition: all 0.3s ease;
}

.primary-btn:hover {
  transform: translateY(-4px);

  background: #115e59;
}

.secondary-btn {
  border: 2px solid white;

  background: transparent;

  color: white;

  padding: 16px 34px;

  border-radius: 12px;

  font-size: 1rem;

  font-weight: 600;

  cursor: pointer;

  transition: all 0.3s ease;
}

.secondary-btn:hover {
  background: rgba(255,255,255,0.12);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {

  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

   .hero-buttons{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .primary-btn,
    .secondary-btn{
        width: 180px;
        height: 50px;
    }
}