.about {
  padding: 100px 10%;

  background: #f8fafc;
}

.about-header {
  text-align: center;

  margin-bottom: 60px;
}

.about-header span {
  color: #0f766e;

  font-weight: 600;
}

.about-header h2 {
  font-size: 3rem;

  margin: 15px 0;

  color: #1e293b;
}

.about-header p {
  max-width: 700px;

  margin: auto;

  color: #64748b;

  line-height: 1.7;
}

.about-content {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(300px, 1fr));

  gap: 30px;
}

.about-card {
  background: white;

  padding: 30px;

  border-radius: 16px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.08);

  transition: 0.3s;
}

.about-card:hover {
  transform: translateY(-8px);
}

.about-card h3 {
  margin-bottom: 15px;

  color: #0f766e;
}

.about-card p {
  color: #64748b;

  line-height: 1.7;
}