/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */

.navbar {
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;

  background: white;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: #0f766e;
  cursor: pointer;
}

/* NAV LINKS */

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #0f766e;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
}

/* RIGHT SIDE */

.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* BOOK NOW BUTTON */

.desktop-btn {
  border: none;

  padding: 12px 26px;

  background: #0f766e;
  color: white;

  border-radius: 8px;

  cursor: pointer;

  font-size: 1rem;

  transition: 0.3s;
}

.desktop-btn:hover {
  background: #115e59;
}

/* MENU ICON */

.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* TABLET */

@media (max-width: 992px) {
  .navbar {
    padding: 0 30px;
  }

  .nav-links {
    gap: 20px;
  }
}

/* MOBILE */

@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .desktop-btn {
    display: block;
    padding: 10px 16px;
    font-size: 0.9rem;
    text-decoration: none;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;

    top: 80px;
    left: -100%;

    width: 100%;

    background: white;

    flex-direction: column;

    gap: 25px;

    padding: 30px 0;

    text-align: center;

    transition: 0.4s ease;
    text-decoration: none;
  }

  .nav-links.active {
    left: 0;
  }

  .logo {
    font-size: 1.8rem;
  }
}

/* SMALL MOBILE */

@media (max-width: 480px) {
  .navbar {
    padding: 0 15px;
  }

  .logo {
    font-size: 1.6rem;
  }

  .desktop-btn {
    padding: 8px 14px;
    font-size: 0.85rem;
  }

  .menu-icon {
    font-size: 1.6rem;
  }

  .nav-actions {
    gap: 10px;

  }
  .nav-actions a {
   text-decoration: none;
    
  }
}